<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Breast Cancer Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
 <div class="content">
	<h1>Predict Breast Cancer Status</h1>

     <!-- Main Input For Receiving Query to our ML model-->
    <form action="{{ url_for('predict')}}"method="post">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="radius_mean" placeholder="radius mean" required="required" />
                <input type="text" name="texture_mean" placeholder="texture mean" required="required" />
                <input type="text" name="perimeter_mean" placeholder="perimeter mean" required="required" />
                <input type="text" name="area_mean" placeholder="area mean" required="required" />
                <input type="text" name="smoothness_mean" placeholder="smoothness mean" required="required" />
            </div>

            <div class="col-md-6">
                <input type="text" name="compactness_mean" placeholder="compactness mean" required="required" />
                <input type="text" name="concavity_mean" placeholder="concavity mean" required="required" />
                <input type="text" name="concave points_mean" placeholder="concave points mean" required="required" />
                <input type="text" name="symmetry_mean" placeholder="symmetry mean" required="required" />
                <input type="text" name="fractal_dimension_mean" placeholder="fractal dimension mean" required="required" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <div class="mt-2">
    {{ results }}
   </div>

 </div>
</body>
</html>